@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    font-family: Lora;
    margin: 0 auto;
    width: 100%;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: bolder;
    margin: 1rem 0;
    font-size: 2.5rem;
}

.logo > h1 > a {
    color: black;
    text-decoration: none;
}

.dark .logo > h1 > a {
    color: white;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
}

.dark .nav-links a {
    color: #87CEEB;
}

.dark .lucide-menu {
    fill: white;
}

.logo {
    display: inline-block;
    margin-left: 10px;
}
.logo > h1 {
    margin-top: 0px;
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus {
    color: #888888;
}

.expanded {
    display: unset;
}

.themeicon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.hamburger {
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.icons {
    float: right;
    margin-right: 10px;
}

@media screen and (min-width: 630px) {
    .nav-links {
        display: inline-block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links > a:first-of-type {
        margin-left: 0px;
        padding-left: 0px;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }
    
    .header {
        margin-left: 10px;
    }

    .header-full {
        background-color: #eeeeee;
        margin-bottom: 10px;
    }   
    .dark .header-full {
        background-color: #999;
    }
    .icons {
        transform: translateY(13px);
    }
}

@media screen and (max-width: 630px) {
    .nav-links {
        display: none;
    }
    .nav-links.expanded > a {
        padding: 10px;
        max-width: 40px;
    }
    .nav-links.expanded {
        background-color: #eeeeee;
        margin: 10px;
        display: block;
    }
    .dark .nav-links.expanded {
        background-color: #999;
    }
    .icons {
        transform: translateY(5px);
    }
}