* {
    --default-font: system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    --accent: #0077ff;
    --gray-light: 235, 239, 246;
}

/** content **/

.invisible {
  display: none !important;
}

.center {
  text-align: center;
}

.right { 
  text-align: right;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(0, 68, 255);
}
a:hover {
    text-decoration: underline;
}


/** social **/

.social {
  & a {
    font-weight: bold;
    text-decoration: none;
  }
  display: flex;
  margin: -15px;
  .socialblock {
    margin: 15px;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    background-color: #f6f6f6;
    border: solid #ddd;
    border-radius: 25px;
    padding: 25px;
    & > .socialicon {
      display: inline-block;
      width: 20%;
      height: auto;
      margin-right: 40px;
    }
    & > .socialinfo {
      max-width: 60%;
      display: inline-block;
      text-wrap: balance;
    }
  }
}

/** titles **/

.pagetitle {
  font-size: 60px;
}

/** mobile **/

@media screen and (max-width: 766px) {
  .people { 
    margin-left: -5px;
  }
}

@media screen and (max-width: 840px) {
  .content {
    margin: 15px;
  }
  .entry {
    margin-top: 25px;
    display: block !important;
    & > .entryinfo {
      display: block !important;
      & > .entryauthor {
        margin-bottom: 20px !important;
      }
    }
    & > .entrymain {
      display: block !important;
      max-width: 100% !important;
    }
  }
  .sitetitle {
    margin-bottom: 50px;
  }
}

/** desktop **/

@media screen and (min-width: 767px) {
  .socialblock {
    max-width: calc(30% + 140px);
  }
  .content {
    max-width: 80%;
    margin: 0 10% 0 10%;
  }
}

@media screen and (min-width: 841px) {
  .sitetitle {
    margin-bottom: 100px;
  } 
}