* {
  --default-font: system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";

}

body {
  font-family: var(--default-font);
  margin: 0px;
  font-size: 17px;
}

/** content **/

.content {
  max-width: calc(60% + 310px);
  margin-left: calc(20% - 155px);
}

.invisible {
  display: none !important;
}

.center {
  text-align: center;
}

.right { 
  text-align: right;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/** header **/

.header {
  margin: 0px 15px;
  & > .toprow {
    display: inline-block;
    padding: 15px 0px;
    & > .hamburger {
      vertical-align: middle;
      display: inline-block !important;
      width: fit-content;
      aspect-ratio: 1 / 1;
      border: solid #ddd;
      border-radius: 5px;
      background-color: #f6f6f6;
      margin-right: 15px;
      & > svg {
        vertical-align: middle;
        height: 20px;
        width: 20px;
        color: #666;
      }
    }
    & > a > img { 
      vertical-align: middle;
      display: inline-block;
      height: 30px;
      width: auto;
      margin-right: 10px;
    }
    & > h1 {
      vertical-align: middle;
      display: inline-block;
      font-size: 18px;
      & > a {
        font-weight: bold;
      }
    }
  }
}

.headerbg {
  width: 100%;
  background-color: #f6f6f6;
}

.nolink {
  text-decoration: none;
  color: black;
}

/** social **/

.social {
  & a {
    font-weight: bold;
    text-decoration: none;
  }
  display: flex;
  margin: -15px;
  .socialblock {
    margin: 15px;
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    background-color: #f6f6f6;
    border: solid #ddd;
    border-radius: 25px;
    padding: 25px;
    & > .socialicon {
      display: inline-block;
      width: 20%;
      height: auto;
      margin-right: 40px;
    }
    & > .socialinfo {
      max-width: 60%;
      display: inline-block;
      text-wrap: balance;
    }
  }
}

/** titles **/

.pagetitle {
  font-size: 60px;
}

.sitetitle {
  font-size: max(5vw, 50px);
  text-align: center;
}

/** team/people **/

.people { 
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 35px;
}

.person {
  height: 160px;
  flex-basis: 200px;
  flex-grow: 1;
  vertical-align: top;
  padding: 10px;
  display: flex;
  align-items: center;
  border: solid #ddd;
  background-color: #f6f6f6;
  border-radius: 10px;
  margin: 5px;
  & > .pfp {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 20px;
  }
  & > .personinfo {
    display: inline-block;
    & > .realname {
      font-size: 25px;
      margin-top: 0px;
    }
    & > .extrainfo {
      & > p {
        margin-top: 8px;
        margin-bottom: 8px;
        &.username {
          font-family: monospace;
        }
        &.position {
          font-style: italic;
        }
      }
    }
  }
}

/** tournaments **/
.tournament {
  margin-bottom: 25px;
}

/** news posts **/

hr {
  border: none;
  height: 1.5px;
  background-color: #ddd;
}

.entry {
  margin-top: 25px;
  display: block;
  & > .entryinfo {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    & > .entryauthor {
      font-weight: 500;
    }
    & > .entrydate {
      margin-top: 8px;
      color: #777;
    }
  }
  & > .entrymain {
    & h1 {
      margin-top: 0px;
    }
    vertical-align: top;
    display: inline-block;
    max-width: min(calc(60% + 150px), calc(100% - 160px));
  }
}

/** mobile **/

@media screen and (max-width: 766px) {
  .navigation, .mobile-navigation {
    display: none !important;
  }
  .mobile-navigation.expanded {
    z-index: 2;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .2);
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0px 15px;
    width: 210px;
    height: 100vh;
    background-color: white;
    border-radius: 0px 15px 15px 0px;
    & > .mobile-toprow {
      margin: 23px 0px 20px 0px;
      & > a > img { 
        vertical-align: middle;
        display: inline-block;
        height: 30px;
        width: auto;
        margin-right: 10px;
      }
      & > .close {
        display: block !important;
        width: fit-content;
        padding: 0;
        aspect-ratio: 1 / 1;
        border: solid #ddd;
        border-radius: 5px;
        background-color: #f6f6f6;
        padding: 5px 5px 1.5px 5px;
        transform: translateY(-1px);
        float: right;
        & > svg {
          height: 20px;
          width: 20px;
          color: #666;
        }
      }
    }
    & > .mobile-nav-ele {
      display: block;
      padding: 20px 0px;
      & > .mobile-nav-link {
        color: black;
        text-decoration: none;
        font-size: 20px;
        &.active {
          font-weight: bold;
        }
      }
      &:hover > .mobile-nav-link {
        color: #82ae73;
      }
    }
  }
  .entry {
    margin-top: 25px;
    display: block !important;
    & > .entryinfo {
      display: block !important;
      & > .entryauthor {
        margin-bottom: 20px !important;
      }
    }
    & > .entrymain {
      display: block !important;
      max-width: 100% !important;
    }
  }
  .people { 
    margin-left: -5px;
  }
  .social {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 840px) {
  .content {
    margin: 15px;
  }
}

/** desktop **/

@media screen and (min-width: 767px) {
  .headerbg > .header > .toprow > .hamburger {
    display: none !important;
  }
  .navigation {
    display: block;
    position: relative;
    float: right;
    transform: translateY(27px);
    & > .nav-ele {
      display: inline;
      & > .nav-link {
        color: black;
        padding: 15px;
        text-decoration: none;
        &.active {
          font-weight: bold;
        }
      }
      &:hover > .nav-link {
        color: #82ae73;
      }
    }
  }
  .mobile-navigation {
    display: none; 
  }
  .socialblock {
    max-width: calc(30% + 140px);
  }
}

/** 404 **/

.fof {
  font-size: 140px;
  color: red;
  font-weight: bolder;
}

.foftext {
  font-size: 30px;
}