---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<div class="center">
		<h1 class="fof">404 Not Found</h1>
		<p class="foftext">Neg five. Continuing for the other team...</p>
	</div>
</BaseLayout>

<style>
	.fof {
		font-size: 140px;
		color: red;
		font-weight: bolder;
	}

	.foftext {
		font-size: 30px;
	}
</style>
