---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  test
    <p>sus impostor</p>
    <script>
        import "../scripts/menu.js";
    </script>
</BaseLayouts>