---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex h-full flex-col items-center justify-center">
        <h1 class="mb-4 text-7xl font-bold">GAQBC</h1>
    </div>
</BaseLayout>
