---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
---

<body>
    <Header />

    <h1>About GAQBC</h1>
    <p>sus impostor</p>
    <script>
        import "../scripts/menu.js";
    </script>
</body>