---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
const bannerMain = "About";
---

<BaseLayout pageTitle={pageTitle}, main={bannerMain}>
<p>testtesttest</p>
</BaseLayouts>