---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex h-screen items-center justify-center">
        <span class="text-center text-7xl font-bold"
            >hi we are working on new website design :3 :3</span
        >
    </div>
</BaseLayout>
