---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "GAQBC";
const bannerMain = "Georgia Quizbowl Community";
---
<BaseLayout pageTitle={pageTitle}, main={bannerMain}>
	<p>testtesttest</p>
</BaseLayout>