---
import '/src/styles/global.css'
---

<div class="flex items-center justify-center h-screen">
    <span class="text-7xl font-bold text-center">hi we are working on new website design :3</span>
</div>