---
import BaseLayout from '../layouts/BaseLayout.astro';
import Entry from '../components/Entry.astro';
const allPosts = await Astro.glob('../assets/posts/*.md');
---

<BaseLayout>
    <h1 class="pagetitle">News</h1>
    {allPosts.sort((a,b) => new Date(b.frontmatter.pubDate).getTime() - new Date(a.frontmatter.pubDate).getTime()).map((post) => <Entry title={post.frontmatter.title}, date={new Date(post.frontmatter.pubDate.toString().slice(0,10).replaceAll("-", "/")).toLocaleDateString('en-US', {month: 'short', day: 'numeric', year: 'numeric'})}, author={post.frontmatter.author}, content={post.compiledContent()} />)}
    <script>
        var entries = document.getElementsByClassName('entry');
        for (var i = 1; i < entries.length; i++) {
            entries[i].parentNode.insertBefore(document.createElement('hr'), entries[i]);
        }
        for (let entry of entries) {
            let target;
            let content;
            for (let child of entry.children) {
                if (child.id === "entrymain") {
                    target = child;
                }
            }
            for (let child of target.children) {
                if (child.id === "rawcontent") {
                    content = child.textContent;
                }
            }
            target.innerHTML += `<div class="entrycontent">${content}</div>`
        }
    </script>
</BaseLayout>