---
import BaseLayout from '../layouts/BaseLayout.astro'
import PersonCard from '../components/PersonCard.astro'
import team from '../assets/team.json'
---

<BaseLayout>
<h1 class="pagetitle">GAQBC Team</h1>
<div class="people">
    {
    team.map((person) => (
        <PersonCard data={person} />
    ))
    }
</div>

<p>Interested in joining? DM <tt>@arlecchinoismyfather</tt> on Discord or email us at <tt>@gaqbc.official@gmail.com</tt>. Google Forms for applications will open soon!</p>
</BaseLayouts>

<style>
    .people { 
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 35px;
}
</style>