---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div class="flex h-screen items-center justify-center">
        <span class="text-center text-7xl font-bold">testing (:</span>
    </div>
</BaseLayout>
