---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<h1 class="pagetitle">Upcoming tournaments</h1>
No upcoming tournaments currently planned!
<script>
    var tournies = document.getElementsByClassName('tournament');
    for (var i = 1; i < tournies.length; i++) {
        tournies[i].parentNode.insertBefore(document.createElement('hr'), tournies[i]);
    }
</script>
</BaseLayouts>

<style>
.tournament {
  margin-bottom: 25px;
}
</style>