---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<h1 class="pagetitle">Upcoming tournaments</h1>
<div class="tournament">
    <h1 class="tourneytitle">CYBER Mirror</h1>
    <p class="tourneycontent">
        <ul>
            <li><b>Date:</b> Jul 13, 2024</li>
            <li><b>Set: </b> CYBER</li>
            <li><b>Eligibility: </b> Rising 10th graders and younger</li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSfebmt8fCuuVWhqdiSEE8jmS25IbrRpXJSqO2g1oZYdKgfpCg/viewform?pli=1">Signup link</a></li>
        </ul>
    </p>
</div>
<div class="tournament">
    <h1 class="tourneytitle">HS Season Opener</h1>
    <p class="tourneycontent">
        <ul>
            <li><b>Date:</b> Jul 21, 2024</li>
            <li><b>Set: </b> SCURVY</li>
            <li><b>Eligibility: </b> All high schoolers</li>
        </ul>
    </p>
</div>
<div class="tournament">
    <h1 class="tourneytitle">MS/JV Season Opener</h1>
    <p class="tourneycontent">
        <ul>
            <li><b>Date:</b> Aug 24, 2024</li>
            <li><b>Set: </b> Peach Novice</li>
            <li><b>Eligibility: </b> 10th graders and younger</li>
        </ul>
    </p>
</div>
<script>
    var tournies = document.getElementsByClassName('tournament');
    for (var i = 1; i < tournies.length; i++) {
        tournies[i].parentNode.insertBefore(document.createElement('hr'), tournies[i]);
    }
</script>
</BaseLayouts>

<style>
    .tournament {
  margin-bottom: 25px;
}
</style>