---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<p>Currently available GAQBC positions include:</p> 
<ul>
    <li>President</li>
    <li>Vice President</li>
    <li>Writers/Editors</li>
    <li>Moderators</li>
</ul>
<p>Google Forms for elections for these positions will be posted soon!</p>
</BaseLayouts>