---
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
import Navigation from './Navigation.astro';
---
<header>
  <div>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
  </div>
</header>