---
import logo from '/src/assets/logo.png'
---
<div class="mobile-navigation" id="mobile-nav">
    <div class="mobile-toprow">
        <a href="/"><img src={logo.src}></img></a>
        <button class="close" id="close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
        </button>
    </div>
    <div class="mobile-nav-ele"><a class="mobile-nav-link" href="/">Home</a></div>
    <div class="mobile-nav-ele"><a class="mobile-nav-link" href="/news/">News</a></div>
    <div class="mobile-nav-ele"><a class="mobile-nav-link" href="/work/">Work for GAQBC</a></div>
    <div class="mobile-nav-ele"><a class="mobile-nav-link" href="/tournaments/">Tournaments</a></div>
    <script>
      let navlinks = document.getElementsByClassName("mobile-nav-link");
      for (let navlink of navlinks) {
        if (navlink.getAttribute("href") === window.location.pathname) {
          navlink.classList.add("active")
        }
      }
    </script>
</div>