---
import '/src/styles/global.css';
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems, DropdownSubmenu } from "astro-navbar";

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Test",
    path: "/test",
  },
];
---

<div>
</div>