---
---
<div class="header">
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/news/">News</a>
    <a href="/work/">Work for GAQBC</a>
    <a href="/tournaments/">Upcoming tournaments</a>
    <a href="/tournaments/">Rules</a>
  </div>
</div>