---
---
<div class="navigation">
    <div class="nav-ele"><a class="nav-link" href="/">Home</a></div>
    <div class="nav-ele"><a class="nav-link" href="/news/">News</a></div>
    <div class="nav-ele"><a class="nav-link" href="/team/">GAQBC Team</a></div>
    <div class="nav-ele"><a class="nav-link" href="/tournaments/">Tournaments</a></div>
    <script>
      let navlinks = document.getElementsByClassName("nav-link");
      for (let navlink of navlinks) {
        if (navlink.getAttribute("href") === window.location.pathname) {
          navlink.classList.add("active")
        }
      }
    </script>
</div>

<style>
  @media screen and (max-width: 766px) {
  .navigation {
    display: none !important;
  }
}

@media screen and (min-width: 767px) {
  .navigation {
    position: relative;
    & > .nav-ele {
      display: inline;
      & > .nav-link {
        color: black;
        padding: 10px 10px;
        text-decoration: none;
        &.active {
          font-weight: bold;
        }
      }
      &:hover > .nav-link {
        color: var(--accent);
      }
    }
  }
}
</style>