---
---
<div class="navigation">
    <div class="nav-ele"><a class="nav-link" href="/">Home</a></div>
    <div class="nav-ele"><a class="nav-link" href="/news/">News</a></div>
    <div class="nav-ele"><a class="nav-link" href="/team/">GAQBC team</a></div>
    <div class="nav-ele"><a class="nav-link" href="/tournaments/">Tournaments</a></div>
    <div class="nav-ele"><a class="nav-link" href="/social/">Social</a></div>
    <script>
      let navlinks = document.getElementsByClassName("nav-link");
      for (let navlink of navlinks) {
        if (navlink.getAttribute("href") === window.location.pathname) {
          navlink.classList.add("active")
        }
      }
    </script>
</div>