---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';

const { pageTitle, main, content } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
        <Banner main={main} />
        <slot />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
