---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle, main, content } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>

        <script src="/scripts/mobilenav.js" async defer is:inline />
	</head>
	<body>
		<Header />
        <div class="content-wrapper">
            <div class="content">
                <slot />
            </div>
        </div>
        <Footer />
	</body>
</html>

<style>
body {
  font-family: var(--default-font);
  margin: 0px;
  font-size: 17px;
}

.content-wrapper {
    width: 100%;
    margin: 0px;
}
.content {
  max-width: 80%;
  margin: 0 10% 0 10%;
}
</style>