---
import '../styles/global.css';
import Header from '../components/Header.astro';

const { pageTitle, main, content } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{pageTitle}</title>

        <script src="/scripts/mobilenav.js" async defer is:inline />
	</head>
	<body>
		<Header />
		<div class="content">
        	<slot />
		</div>
	</body>
</html>
