---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Header from '../components/Header.astro';
const { frontmatter } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<Header />
		<div class="content">
			<p>Published on: {frontmatter.pubDate.toString().slice(0,10).replaceAll("-", "/")}</p>
			<p>Written by: {frontmatter.author}</p>
			<hr>
			<slot />
		</div>
		<script>
			import "../scripts/mobilenav.js";

			let navlinks = document.getElementsByClassName("nav-link");
			for (let navlink of navlinks) {
				if (navlink.getAttribute("href") === "/news/") {
					navlink.classList.add("active")
				} else {
					navlink.classList.remove("active")
				}
			}
		</script>
	</body>
</html>